<div class="loader_in_css" ng-show="loader"><img src="images/loader.GIF"/></div>
<div class="row top_custom_nav">
    <h2 class="pull-left">Claim SPIFF</h2>
    <a href="/partner-tools/#/"><button class="btn btn-primary pull-right link_main"> << PartnerTools</button></a>
</div>
<div style="text-align:left;font-size:12px;color:#000;margin-bottom:5px;font-weight:bold;">*Select registrations for which to claim SPIFF. Click Edit to modify or add missing information.</div>
<div ng-init="getSpiff()">
    <div class="alert alert-danger" id="err">{{errorMessgae}}</div>
    <div class="panel panel-primary">
        <div class="panel-heading">SPIFF</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 pull-left">
                    Filter by Dealer Rep :
                    <select ng-model="query" class="selectpicker" data-live-search="true" data-size='8' ng-change="select_change()">
                        <option  value="">Select Dealer Rep</option>
                        <option  ng-repeat="dealer in dealers"  ng-class="setCSS(dealer.isBankInfoExists,dealer.isW9InfoExists,dealer.isContactInfoExists,$index)" class="font-family:verdana;" data-select-watcher data-last="{{$last}}" value="{{dealer.userId}}"> &nbsp;{{dealer.firstName}} {{dealer.lastName}}</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive" style="margin-top:10px;">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Registration Id</th>
                        <th>Facility/Customer</th>
                        <th>Invoice #</th>
                        <th>Dealer Rep</th>
                        <th>Install Date</th>
                        <th>SPIFF $</th>
                        <th>Selected</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="spiff in filtered | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit | filter:search">
                        <td style="text-align:right">
                            <span ng-class="setSPIFF(spiff.isBankInfoExists,spiff.isW9InfoExists,spiff.isContactInfoExists)" class="existInfo"></span>
                            <span ng-class="setS(spiff.isBankInfoExists,spiff.isW9InfoExists,spiff.isContactInfoExists,spiff.invoiceUrl)" class="existInfo"></span>
                            <span  ng-if="isMissingInfo" class="glyphicon glyphicon-edit edit_class" aria-hidden="true" style="" ng-click="open_modal(spiff)"></span>
                            <span  ng-if="!isMissingInfo" class="glyphicon glyphicon-ok-circle success_class" aria-hidden="true"></span>
                            <span title="Edit" ng-if="!isMissingInfo" class="glyphicon glyphicon-edit edit_missing_class" aria-hidden="true"></span>
                        </td>
                        <td>{{spiff.partnerSaleRegistrationId}}</td>
                        <td>{{spiff.facilityName}}</td>
                        <td ng-if="spiff.invoiceUrl" ><a href="{{spiff.invoiceUrl}}" target="_blank" >{{spiff.invoiceNumber}}</a></td>
                        <td ng-if="!spiff.invoiceUrl" >{{spiff.invoiceNumber}}</td>
                        <td>{{spiff.firstName}} {{spiff.lastName}}</td>
                        <td>{{spiff.installDate}}</td>
                        <td>${{spiff.spiffAmount}}</td>
                        <td ><input type="checkbox" ng-click="CheckedDealer(spiff)" ng-disabled="clicked"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row col-sm-6">
                <button type="button" class="btn btn-primary" ng-click=claimSpiffEntitlements()>submit</button>
                <button type="button" class="btn btn-default" ng-click="cancel_submit()">Cancel</button>
            </div>

        </div>
        <div class="row" style="text-align:center;">
            <uib-pagination  style="margin-top:0px;"
                             ng-show="tempUsers.length>0"
                             ng-model="currentPage"
                             total-items="tempUsers.length"
                             max-size="maxSize"
                             number-per-page="noOfPages"
                             items-per-page="entryLimit"
                             boundary-links="true">
            </uib-pagination >

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('select').selectpicker();
    });
</script>